*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*CABEÇALHO DAS DUAS PÁGINAS*/
header{
    background-image:linear-gradient(to top,rgb(0, 0, 0), #22048C); 
    text-align: center;
    margin: 0px;
    padding: 20px;
}
/*H1 DO CABEÇALHO DAS DUAS PÁGINAS*/
header > h1 {
    font-family: 'Games', Arial, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 64px;
    text-shadow: 1px 1px 5px black;
}
/*PARÁGRAFO DO CABEÇALHO DAS DUAS PÁGINAS*/
header > p{
    text-align: center;
    color: white;
    padding: 10px; 
    text-shadow: 1px 1px 5px black;
}
/*  corpo *tem essa cor de fundo para contrastar com o '<main>'
*/

/*O nav está fora do header por uma questão de praticidade*/
nav{
    background-color: black;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav a:hover{
    background-color: rgb(133, 11, 238);
    color: black;
}

body{
    background-color: #b388e1;
    
}
/*  Parte principal das duas páginas
    obs: eu deixei em branco pq vi q seções onde é preciso ler muito texto, é melhor usar fundo branco e letra preta. Dá pra m
*/
main{
    display: flex;
    flex-direction: column;
    background-color: #22048C;
    padding: 30px;
    margin: auto 80px auto 80px;
}

h2{
    color: #f4bf0f;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}
h3{
    color: #f4bf0f;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}
p{
    color: white;
    text-align: left;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
}
section > h2{
    color: #f4bf0f;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px black;
}

section > h3{
    color: #f4bf0f;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px black;
}

section > p {
    color: #fff;
    text-align: left;
    font-size: 16px;
    text-shadow: 1px 1px 5px black;
}

form{
    display: flex;
    flex-direction: column;

}

input{
    outline: 1px solid rgb(179, 179, 179);
    background-color: #000;
    border-radius: 3px;
    border: 0px;
    color:rgb(133, 11, 238);
    margin-bottom: 10px;
    transition: outline 150ms;
    padding: 5px;
}

input:focus{
    outline: 1px solid rgb(133, 11, 238);
    color:white

}

label{
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;

}

section{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
}
/*.intro{
    display: flex;
    flex-direction: column;
    background-color: #22048C;
    padding: 30px;
    border-radius: 7px;
    margin: auto;
    
}*/

.login{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 7px;
    margin: auto;
}
.login > h3{
    color: #f4bf0f;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px black;
}
.login > p{
    color: #fff;
    text-align: left;
    font-size: 16px;
    text-shadow: 1px 1px 5px black;
    
}
.p-button{
    align-self: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    outline: 0px;
    color: white;
    background-color: rgb(133, 11, 238);
    margin-top: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.641);
    text-shadow: 1px 1px 2px black;
}