@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Syne+Tactile&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Syne+Tactile&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

:root{
    --cor-primaria: #8c20d4;
    --cor-secundaria: #4361EE;
    --cor-terciaria: #e4267c;
    --bg-color: #f1f0f0;
    --bg-color-secundaria: #dbdbdb;
    --fonte-titulo: 'Odibee Sans', cursive;
    --fonte-texto: 'Open Sans', sans-serif;
}

.header{
    width: 100%;
    height: 10vh;
}

header{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    background-color: var(--cor-primaria);
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
}

header > nav > a{
    color: var(--bg-color);
    font-family: var(--fonte-titulo);
    font-size: 24px;
}

header > a > img{
    height: 100vh;
    padding: 20px;
}

body{
    background-color: var(--bg-color);
    
}

main{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto 80px auto 80px;
}

#mainComp{
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
}

h1{
    color: var(--cor-secundaria);
    font-size: 54px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--fonte-titulo);
}

h2{
    color: var(--cor-secundaria);
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--fonte-titulo);
}
h3{
    color: var(--cor-secundaria);
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--fonte-titulo);
}
p{
    color: black;
    text-align: left;
    font-size: 16px;
    font-family: var(--fonte-texto);
}

section{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 60vw;
}

#componentes{
    margin-bottom: 40px;
    margin-top: 30px;
}

#update{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    min-width: 25vw;
}

input:not([type="submit"]){
    background-color: var(--bg-color-secundaria);
    border-radius: 3px;
    border: 0px;
    outline: 0px;
    color: rgb(175, 97, 97);
    margin-bottom: 10px;
    transition: outline 150ms;
    padding: 5px;
}

input:not([type="submit"]):focus{
    background-color: var(--bg-color);
    outline: 1px solid var(--cor-terciaria);
    color:black

}

.inserc{
    border: none;
    border-radius: 3px;
    background-color: var(--cor-primaria);
    color: white;
    padding: 5px;
    width: 300px;
    margin-top: 20px;
}



select{
    background-color: var(--bg-color-secundaria);
    border-radius: 3px;
    border: 0px;
    color:var(--cor-terciaria);
    margin-bottom: 10px;
    transition: outline 150ms;
    padding: 5px;
}

select:focus{
    background-color: var(--bg-color);
    outline: 1px solid var(--cor-terciaria);
    color:black
}

label{
    margin-bottom: 5px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

.login{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 7px;
    margin: auto;
    background-color: white;
}
.login > h3{
    color: var(--cor-secundaria);
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login > p{
    color: black;
    text-align: left;
    font-size: 16px;
}



.sumario{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-secundaria);
    margin: auto;
    min-width: 50vw;
    padding: 10px;
    border-radius: 5px;
}

.sumario > h2{
    color: var(--cor-terciaria);
}

.sumario > a{
    color: var(--cor-terciaria);
    text-decoration: none;
}

.sumario > a:hover{
    text-decoration: underline;
}

.p-button{
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    outline: 0px;
    border: 0px;
    color: white;
    background-color: var(--cor-primaria);
    margin: 20px 0px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.641);
    transition: background-color .2s, color .2s;
}


.p-button:hover{
    color: var(--cor-primaria);
    background: white;
}

.s-button{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    outline: 0px;
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
    background-color: var(--bg-color);
    margin: 10px 0px;
    transition: background-color .2s, color .2s;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#pc-form{
    background-color: var(--cor-primaria);
    border-radius: 3px;
    padding: 20px;
}

#pc-form h2, #pc-form p, #pc-form label, #pc-form a{
    color: white;
}

#pc-form input:not([type="submit"]), #pc-form select{
    color: var(--cor-primaria);
}

#pc-form input:not([type="submit"]):focus, #pc-form select:focus{
    background-color: var(--bg-color);
    outline: 0px;
    color:black
}

#pc-form .p-button{
    outline: 2px solid white;
    box-shadow: none;
}

#formComp, #formDados{
    display: none;
    flex-direction: column;
}

#divProc, #divPlacaMae, #divPlacaVideo{
    display: none;
    flex-direction: column;
}


#divNome, #divSenha{
    display: none;
    flex-direction: column;
}

li{
    padding: 10px;
    color: var(--cor-primaria);
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-secundaria);

}

.adm{
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

#redirect-login, #dashboard{
    display: none;
}

a:hover:not([class="navbar"]){
    color: black;
}
