<link rel="stylesheet" href="css/style.css">

<header>
    <a href="/"><img src="/images/logotipo-branco.svg" alt="logo"></a>
    <nav>
        <a class="navbar" href="/sobre">Sobre</a>
        <a class="navbar" href="/login">Login</a>
        <a class="navbar" href="/registro">Criar conta</a>
    </nav>
</header>