<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/header.ejs') %>
        <main id="mainComp">
            <section>
                <h1>Página de inserção de dados</h1>
                <p><b>Aqui os usuários podem dar sugestões de componentes que eles desejam ver no site caso eles não existam</b></p>
            </section>
            <br>
            <section id="componentes">
                <form action="" class="login-card" id="checkForm">
                    <h3>Quais componentes deseja inserir?</h3>
                        <label for="checkProc">Processador</label>
                        <input type="checkbox" id="checkProc" value="divProc">
                    
                        <label for="">Placa de vídeo</label>
                        <input type="checkbox" id="checkPlacaVideo">

                        <input type="submit" class="inserc"></input>
                </form>
            </section>
            <section>
               <form action="" class="login-card" id="formComp">
                <h3>Digite os componentes selecionados aqui:</h3>
                
                <div id="divProc">
                    <label for="">Processador:</label>
                    <input id="" type="text" name="proc">
                </div>
               
                <div id="divPlacaVideo">
                    <label for="">Placa de vídeo:</label>
                    <input type="text" name="placaVideo">
                </div>
                
                <input type="submit" class="p-button" value="Enviar para os ADMs">
               </form>
                
            </section>
        </main>
</body>
</html>