<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/header.ejs') %>
        <main id="mainComp">
            <section>
                <h1>Página de sugestões de dados</h1>
            </section>
            <br>
            <section id="componentes">
                <form action="/sugestao/new" method="post"  class="login-card" id="checkForm">
                    <h3>O que deseja sugerir?</h3>
                    <p>Você pode sugerir componentes, jogos ou estilos que gostaria de ver no nosso site</p>
                    <label for="componente">Tipo de sugestão</label>
                    <select name="componente" id="componente" required>
                        <option value="" selected disabled hidden></option>
                        <option value="Processador">Processador</option>
                        <option value="Placa de Vídeo">Placa de Vídeo</option>
                        <option value="Jogo">Jogo</option>
                        <option value="Estilo">Estilo</option>
                    </select>
                    <label for="sugestao">Descrição</label>
                    <textarea name="sugestao" id="sugestao" cols="30" rows="5" required></textarea>

                    <input class="p-button" type="submit">
                </form>
            </section>
        </main>
</body>
</html>