<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/header.ejs') %>
        <main id="mainComp">
            <section>
                <h1>Página de sugestões de dados</h1>
                <p><b>Aqui os usuários podem dar sugestões de componentes que eles desejam ver no site caso eles não existam</b></p>
            </section>
            <br>
            <section id="componentes">
                <form action="/sugestao/new" method="post"  class="login-card" id="checkForm">
                    <h3>O que deseja sugerir?</h3>
                    <select name="componente" id="componente" required>
                        <option value="" selected disabled hidden></option>
                        <option value="Processador">Processador</option>
                        <option value="Placa de Vídeo">Placa de Vídeo</option>
                        <option value="Jogo">Jogo</option>
                        <option value="Estilo">Estilo</option>
    
                    </select>

                    <textarea name="sugestao" id="sugestao" cols="30" rows="5"></textarea>

                    <input class="inserc" type="submit">
                </form>
            </section>
        </main>
</body>
</html>