<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/header.ejs') %>
    <main>
        
        <section>
            <h1>Alteração de dados</h1>
            <form action="/user/update?_method=PUT" method="post" class="login-card">
                <h3>Novos dados:</h3>
                <div id="divNome">
                    <label for="novoNome">Nome:</label>
                    <input type="text" name="novoNome" value="<%= currentUser.nome %>">
                </div>

                <div id="divSenha">
                    <label for="novaSenha">Digite sua nova senha:</label>
                    <input type="password" name="novaSenha" value="<%= currentUser.senha %>">
                </div>
                <input type="submit" class="p-button" value="Alterar">
            </form>
        </section>
    </main>
</body>
</html>