<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./JS/home.js"></script>
    <script src="JS/acessaListaJogos.js" defer></script>
    <title>Meu PC roda?</title>
</head>
<body>
    <object data="pages/partials/header.html" class="header"></object>
    <main>
        <h1>Bem-vindo</h1>
            <section >
                <form action="" id="pc-form">
                    <h2>Meu PC roda?</h2>
                    <p>Preencha os campos abaixo para ver quais jogos seu PC pode rodar</p>
                    <label for="processador">Processador</label>
                    <select name="processadores" id="processadores">
                        <option value="">Intel i3</option>
                        <option value="">Intel i5</option>
                        <option value="">Intel i7</option>
                        <option value="">Intel i9</option>
                        <option value="">Ryzen 5</option>
                        <option value="">Ryzen 7</option>
                    </select>
                    <label for="placa-mae">Placa-mãe</label>
                    <select name="placa-mae" id="placa-mae">
                        <option value="">Gigabyte H310M</option>
                        <option value="">MSI B360M</option>
                        <option value="">Asus TUF B360 Plus</option>
                        <option value="">ASRock A320M</option>
                        <option value="">MSI B350 Tomahawk</option>
                        <option value="">ASUS Prime B450M-A</option>
                    </select>
                    <label for="ram">Memória RAM</label>
                    <input type="number" min="1" max="16" name="ram" id="ram" required>
                    <label for="armazenamento">Armazenamento(em GB)</label>
                    <input type="number" min="120" max="4000" name="armazenamento" id="armazenamento" required>
                    <label for="placa-video">Placa de vídeo</label>
                    <select name="placa-video" id="placa-video">
                        <option value="">Gigabyte GTX 1650</option>
                        <option value="">EVGA RTX 3060 XC Gaming</option>
                        <option value="">PCYes GTX 1660 SUPER OC</option>
                        <option value="">XFX RX 580</option>
                        <option value="">XFX RX 6600 XT</option>
                        <option value="">XFX RX 6800 XT</option>
                    </select>
                    <a href="./pages/suporte.html">Não encontrei o componente que queria</a>
                    <input type="submit" class="p-button">
                </form>
            </section>
    </main>
</body>
</html>