<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head.ejs') %>
    
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section>
            <form id="alterarSenha" action="/alterarSenha?_method=PUT" method="post" class="login-card">
                <h3>Solicitação de mudança de senha</h3>
                <p>Preencha os campos abaixo:</p>
                <label for="email">E-mail:</label>
                <input type="email" name="email" placeholder="Digite seu e-mail">
                <label for="senha">Nova senha:</label>
                <input type="password" name="senha" placeholder="Digite sua senha">
                <label for="">Confirme sua nova senha:</label>
                <input type="password" name="senhaConfirm" placeholder="Confirme sua senha">
                <input class="p-button" type="submit">
            </form>
        </section>
        <a class="p-button" href="/">Voltar</a>
    </main>
</body>
</html>