<!DOCTYPE html>
<html lang="pt_br">

    <%- include('../partials/head.ejs') %>
    
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <% if (message) { %>
            <div class="modal">
                <button>x</button>
               <p><%= message %></p>
            </div>
           <% } %>
        <section>
            <form action="/alterarCargo" method="post" class="login-card">
                <h3>Alterar cargo:</h3>
                <p>Preencha o campo abaixo</p>
                <label for="email">Email:</label>
                <input name="email" type="email" placeholder="Qual usuário você deseja tornar administrador?" required>
                <input class="p-button" type="submit">
            </form>
        </section>
    </main>
    
</body>
</html>