<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    <title>Meu PC roda?</title>
    <script src="JS/dashboard.js" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1>Bem-vindo</h1>
        <section id="dashboard">
                <div class="tabs-btn-box">
                    <button class="tab-btn">Início</button>
                    <button class="adm tab-btn">ADM</button>
                    <button class="tab-btn">Conta</button>
                </div>
                <div id="home" class="tab-content">
                    <h3>Sugerir</h3>
                    <p>Faça uma sugestão para nós e tentaremos atendê-la</p>
                    <a id="inserc" href="insercaoComp">Sugerir componente</a>
                </div>
                <div class="adm tab-content" id="adm">
                    <h3>ADM</h3>
                    <p>Gerencie cargos e insira games</p>
                    <a id="isercGames" href="/insercaoJogos">Inserir jogo</a>
                    <a id="alteraCargo" href="/alterarCargo">Alterar cargo</a>
                </div>
                <div id="conta" class="tab-content">
                    <h3>Conta</h3>
                    <p>Altere seus dados como desejar ou faça logoff</p>
                    <a href="/update">Alterar dados da conta</a>
                    <button id="sairBtn">Sair</button>
                </div>
            </section>
            <section id="redirect-login">
                <h3>Você precisa fazer login antes de acessar essa página!</h3>
                <div class="button-box">
                    <a class="p-button" href="/login">Já tenho uma conta</a>
                    <a class="p-button" href="/registro">Ainda não tenho uma conta</a>
                </div>
            </section>
    </main>
</body>
</html>