<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <title>Meu PC roda?</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section>
            <form action="/insercaoJogos" method="post" class="login-card">
                <h3>Inserir jogos</h3>
                <p>Preencha os campos abaixo</p>
                <label for="nome">Nome</label>
                <input name="nome" type="text" required>
                <label for="estilo">Estilo:</label>
                <select name="estilo" required>
                    <option value="" selected disabled hidden></option>
                    <option value="Luta">Luta</option>
                    <option value="Sobrevivencia">Sobrevivencia</option>
                    <option value="FPS">FPS</option>
                    <option value="Moba">Moba</option>
                    <option value="Ação/Aventura">Ação/Aventura</option>
                    <option value="Esportes">Esportes</option>
                    <option value="Outros">Outros</option>
                </select>
                <label for="preco">R$</label>
                <input type="number" min="0.00" max="999999.99" step="0.01" name="preco" required>
                <label for="tier">Tier</label>
                <input type="number" min="1" max="7" name="tier" required>
                <input class="p-button" type="submit">
            </form>
        </section>
    </main>
    
</body>
</html>