<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <script src="JS/listaJogos.js" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>Lista de Jogos</h1>
    <section>
        <div id="filtroJogos">
            <label for="ordem">Filtrar por:</label>
            <select name="estilo" id="estilo">
                <option value="Estilo">Estilo</option>
                <option value="Luta">Luta</option>
                <option value="Sobrevivencia">Sobrevivencia</option>
                <option value="FPS">FPS</option>
                <option value="Moba">Moba</option>
                <option value="Ação/Aventura">Ação/Aventura</option>
                <option value="Esportes">Esportes</option>
                <option value="Outros">Outros</option>
            </select>
            <select name="preco" id="preco">
                <option value="Preco">Preço</option>
                <option value="Gratuitos">Gratuitos</option>
                <option value="Pagos">Pagos</option>
            </select>
        </div>
        
        <ul id="listaJogos">
        </ul>
    </section>
    
</body>
</html>