<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    <title>Meu PC roda?</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
            <section class="login">
                <div class="login-presentation">
                    <h3>Faça login e contribua com a gente!</h3>
                    <img src="images/login_img.png" alt="">
                </div>
                <form action="/login" method="post" class="login-card">
                    <p>Preencha os campos abaixo</p>
                    <label for="">Nome</label>
                    <input name="nome" type="text" required>
                    <label for="">Senha</label>
                    <input name="senha" type="password" required>
                    <a href="/alterarSenha">Esqueci minha senha</a>
                    <input class="p-button" type="submit">
                    <a href="/registro">Ainda não tem uma conta? Crie agora!</a>
                </form>
            </section>
    </main>
</body>
</html>