<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Registro</title>
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <script src="JS/registro.js" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="login">
            <div class="login-presentation">
                <h3>Crie uma conta e contribua com a gente!</h3>
                <img src="images/login_img.png" alt="">
            </div>
            <form id="registro" action="" class="login-card">
                <p>Preencha os campos abaixo:</p>
                <label for="">Usuário:</label>
                <input type="text" name="user" placeholder="Digite seu nome" required>
                <label for="">E-mail:</label>
                <input type="email" name="email" placeholder="Digite seu e-mail" required>
                <label for="">Senha:</label>
                <input type="password" name="senha" placeholder="Digite sua senha" required>
                <label for="">Senha (confirmação)</label>
                <input type="password" name="senha2" placeholder="Confirme sua senha" required>
                <input class="p-button" type="submit">
                <a href="/login">Já possui uma conta? Entre agora!</a>
            </form>
        </section>
    </main>
</body>
</html>