<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    <title>Meu PC roda?</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <ul class="sumario">
        <h2>Tópicos</h2>
        <a href="#o-que-fazemos">O que nós fazemos?</a>
        <a href="#como-funciona">Como funciona?</a>
    </ul>    
            <section id="o-que-fazemos">  
                <h2>O que nós fazemos?</h2>
                    <p>A proposta do nosso site é facilitar a vida do usuário médio que deseja jogar algum jogo, porém não possui domínio de hardware e suas capacidades. Desse modo, o usuário vai apenas informar sobre sua máquina e o jogo desejado, e o resto nós iremos executar.</p>
            </section>
            <section id="como-funciona">
                <h2>Como funciona?</h2>
                <p>Nosso sistema pede apenas para você inserir informações sobre seu hardware e o jogo que deseja, e após isso iremos analisar sua máquina e observar se o computador suporta ou não determinado jogo de sua escolha. </p>
            </section>
    </main>
</body>
</html>