<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    <title>Meu PC roda?</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section>
            <h2>Suporte</h2>
            <p>Antes de contribuir para nosso site, precisamos que você faça login!</p>
            <div class="button-box">
                <a class="p-button" href="/login">Já tenho uma conta</a>
                <a class="p-button" href="/registro">Ainda não tenho uma conta</a>
            </div>
        </section>
        <a href="/">Voltar ao início</a>
    </main>
</body>
</html>