<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>Placas de vídeo</h1>
    <ul>
        <% for( let videocard of videocards) { %>
            <li>
                <strong>Modelo: </strong><%= videocard.modelo %> - <strong>Tier: <%= videocard.tier%></strong>
            </li>
    
        <% } %>

    </ul>

</body>
</html>